{% load i18n rangefilter_compat %}
<style>
    {% default_css_vars_if_needed %}
</style>
<div class="numericrangefilter">
    <h3>By {{ title }}</h3>
    <form method="GET" action="." id="{{ choices.0.system_name }}-form">
        {{ spec.form.as_p }}
        {% for choice in choices %}
            <input type="hidden" id="{{ choice.system_name }}-query-string" value="{{ choice.query_string }}">
        {% endfor %}
        {% spaceless %}<div class="controls">
            <input type="submit" class="button" value="{% trans "Search" %}" onclick="filter_apply(event, '{{ choices.0.system_name }}-query-string')">
            <input type="reset" class="button" value="{% trans "Reset" %}" onclick="filter_reset(event, '{{ choices.0.system_name }}-query-string')">
        </div>{% endspaceless %}
    </form>
</div>
