<div class="row data-summary">
    <div class="col-6">
    {% if methods_warnings %}
    <p class="fs-5 text-danger text-start">Methods: Data quality warnings</p>
    <ul class="errorlist">
        {% for rowid, item in methods_warnings %}
        <li><b>Row {{rowid}}</b>: {{ item }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    </div>
    <div class="col-6">
    {% if results_warnings %}
    <p class="fs-5 text-danger text-start">Results: Data quality warnings</p>
    <ul class="errorlist">
        {% for rowid, item in results_warnings %}
        <li><b>Row {{rowid}}</b>: {{ item }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    </div>
</div>
