<div class="rowheader d-flex flex-column justify-content-start">
    <label for="action-toggle-{{ row.pk }}" class="p-2 mb-1">
        <input type="checkbox" class="action-select" name="{{ ACTION_CHECKBOX_NAME }}" id="action-toggle-{{ row.pk }}" value="{{ row.pk }}">
    </label>
    {% if user.is_staff or user.is_superuser %}
    <a class="mb-2 mx-1" href="{% url 'admin:database_studies_change' row.id %}" title="View/Edit Study">
        <span class="material-icons">
            edit
        </span>
    </a>
    {% else %}
    <a class="mb-2 mx-1" href="{% url 'admin:database_studies_change' row.id %}" title="View Study">
        <span class="material-icons">
            info
        </span>
    </a>
    {% endif %}
    <a class="mb-2 mx-1" href="{% url 'admin:database_results_changelist' %}?Study_id={{ row.pk }}" title="View Results">
        <span class="material-icons">
            view_list
        </span>
    </a>
</div>