<div class="rowdata">
    <div>
        Published in year {{ row.Year }}
    </div>
    <div>
        <b>{{ row.Study_description }}</b>
    </div>
    <div>
        <b>Design: </b>{{ row.get_study_design }}
    </div>
    <div>
        <b>Disease: </b>{{ row.Study_group }}{% if row.Disease %} ({{ row.Disease }}){% endif %}
    </div>
    {% if row.Paper_link %}
    <div>
        <a href="{{ row.Paper_link }}">
        <span class="material-icons">
        open_in_new
        </span>
        Online Access</a>
    </div>
    {% endif %}
</div>