<div class="rowheader d-flex flex-column justify-content-start">
    <label for="action-toggle-{{ row.pk }}" class="p-2 mb-1">
        <input type="checkbox" class="action-select" name="{{ ACTION_CHECKBOX_NAME }}" id="action-toggle-{{ row.pk }}" value="{{ row.pk }}">
    </label>
    {% if user.is_staff or user.is_superuser %}
    <a class="mb-2 mx-1" href="{{ row.change_url }}" title="View/Edit Study">
        <span class="material-icons">
            edit
        </span>
    </a>
    {% else %}
    <a class="mb-2 mx-1" href="{{ row.change_url }}" title="View Study">
        <span class="material-icons">
            info
        </span>
    </a>
    {% endif %}
    {% if row.view_study_results_url %}
    <a class="mb-2 mx-1" href="{{ row.view_study_results_url }}" title="View Results">
        <span class="material-icons">
            view_list
        </span>
    </a>
    {% endif %}
</div>