/* VARIABLE DEFINITIONS */
:root {
    --primary: var(--cyan);
    --secondary: var(--dark-cyan);
    --accent: var(--yellow);
    --primary-fg: #fff;
  
    --body-fg: #333;
    --body-bg: #fff;
    --body-quiet-color: var(--cool-grey);
    --body-loud-color: #000;
  
    --header-color: #ffc;
    --header-branding-color: var(--accent);
    --header-bg: var(--secondary);
    --header-link-color: var(--primary-fg);
  
    --breadcrumbs-fg: #c4dce8;
    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: var(--primary);
  
    --link-fg: var(--dark-cyan);
    --link-hover-color: var(--light-orange);
    --link-selected-fg: var(--dark-cyan);
  
    --hairline-color: #e8e8e8;
    --border-color: #ccc;
  
    --error-fg: #ba2121;
  
    --message-success-bg: #dfd;
    --message-warning-bg: #ffc;
    --message-error-bg: #ffefef;
  
    --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
    --selected-bg: #e4e4e4; /* E.g. selected table cells */
    --selected-row: #cde7ee; /* A bit lighter than --cyan */
  
    --button-fg: #fff;
    --button-bg: var(--brown);
    --button-hover-bg: var(--light-orange);
    --default-button-bg: var(--brown);
    --default-button-hover-bg: var(--light-orange);
    --close-button-bg: var(--brown); /* Previously #bbb, contrast 1.92 */
    --close-button-hover-bg: var(--light-orange);
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;
  
    --object-tools-fg: var(--button-fg);
    --object-tools-bg: var(--close-button-bg);
    --object-tools-hover-bg: var(--close-button-hover-bg);
  }

.admin caption {
    caption-side: top;
}

nav ul > li {
    list-style-type: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.md-red {
    color: #dc3545;
}

.md-green {
    color: #198754;
}

.md-grey {
    color: #6c757d;
}

a.deletelink {
    box-sizing: content-box;
}

.rowdata .material-icons, .rowflags .material-icons {
    font-size: 150%;
    margin-top: -3pt;
}

/* fields in the admin site */
td[class$="_html"][class^="field-"], th[class$="_html"][class^="field-"] {
    padding: 0 4px;
}

td[class$="_html"][class^="field-"] *, th[class$="_html"][class^="field-"] * {
    line-height: initial !important;
}

.rowdata th {
    font-weight: lighter;
}

.rowdata th, .rowdata td {
    padding: 4px;
}

.rowdata table {
    margin-top: 3px;
    margin-bottom: 3px;
}

.rowflags {
    white-space: nowrap;
}

#changelist-filter select {
    height: initial;
}

/* Results list page column width optimisation */
.model-results.change-list #result_list, .model-studies.change-list #result_list {
    position: relative;
}

.model-results.change-list #result_list .column-get_study_info_html {
    max-width: 25em;
}

.model-results.change-list #result_list .field-get_publication_html th {
    width: 7em;
}

.model-results.change-list #result_list .column-get_population_html {
    min-width: 24em;
}

.model-results.change-list .field-get_population_html th {
    width: 7em;
}

.model-results.change-list #result_list .column-get_method_info_html {
    min-width: 20%;
}

.model-results.change-list .field-get_method_info_html th {
    width: 11em;
}

.model-results.change-list #result_list .column-get_point_estimate_html {
    width: 22em;
}

/* Studies list page column widths */
.model-studies.change-list #result_list .column-get_publication_html {
    max-width: 30em;
}

.model-studies.change-list #result_list .field-get_publication_html th {
    width: 8.5em;
}

.model-studies.change-list #result_list .field-get_location_html th {
    width: 7em;
}

.model-studies.change-list #result_list .field-get_notes_html th {
    width: 7em;
}

.model-studies.change-list #result_list .column-get_method_html {
    min-width: 25%;
}

.model-studies.change-list #result_list .field-get_method_html th {
    width: 11em;
}