/* VARIABLE DEFINITIONS */
:root {
    --primary: var(--cyan);
    --secondary: var(--dark-cyan);
    --accent: var(--yellow);
    --primary-fg: #fff;
  
    --body-fg: #333;
    --body-bg: #fff;
    --body-quiet-color: var(--cool-grey);
    --body-loud-color: #000;
  
    --header-color: #ffc;
    --header-branding-color: var(--accent);
    --header-bg: var(--secondary);
    --header-link-color: var(--primary-fg);
  
    --breadcrumbs-fg: #c4dce8;
    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: var(--primary);
  
    --link-fg: var(--dark-cyan);
    --link-hover-color: var(--light-orange);
    --link-selected-fg: var(--dark-cyan);
  
    --hairline-color: #e0e0e0;
    --border-color: #b1b1b1;
  
    --error-fg: #ba2121;
  
    --message-success-bg: #dfd;
    --message-warning-bg: #ffc;
    --message-error-bg: #ffefef;
  
    --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
    --darkened-bg-bg: #d8d8d8;
    --selected-bg: #c5c5c5; /* E.g. selected table cells */
    --selected-row: #cde7ee; /* A bit lighter than --cyan */
  
    --button-fg: #fff;
    --button-bg: var(--brown);
    --button-hover-bg: var(--light-orange);
    --default-button-bg: var(--brown);
    --default-button-hover-bg: var(--light-orange);
    --close-button-bg: var(--brown); /* Previously #bbb, contrast 1.92 */
    --close-button-hover-bg: var(--light-orange);
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;
  
    --object-tools-fg: var(--button-fg);
    --object-tools-bg: var(--close-button-bg);
    --object-tools-hover-bg: var(--close-button-hover-bg);
  }

.admin caption {
    caption-side: top;
}

nav ul > li {
    list-style-type: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.md-red {
    color: #dc3545;
}

.md-green {
    color: #198754;
}

.md-grey {
    color: #6c757d;
}

a.deletelink, a.cancel-link {
    box-sizing: content-box;
}

.rowdata .material-icons, .rowflags .material-icons {
    font-size: 150%;
    margin-top: -3pt;
}

/* fields in the admin site */
td[class$="_html"][class^="field-"], th[class$="_html"][class^="field-"] {
    padding: 0 4px;
}

td[class$="_html"][class^="field-"] *, th[class$="_html"][class^="field-"] * {
    line-height: initial !important;
}

.rowdata th {
    font-weight: normal;
    color: grey;
}

.rowdata th, .rowdata td {
    padding: 4px;
}

.rowdata table {
    margin-top: 3px;
    margin-bottom: 3px;
}

.rowflags {
    white-space: nowrap;
}

#changelist-filter select {
    height: initial;
}

/* Results list page column width optimisation */
.model-results.change-list #result_list, .model-studies.change-list #result_list {
    position: relative;
}

.model-results.change-list #result_list .field-get_publication_html th {
    width: 7em;
}

.model-results.change-list .field-get_population_html th {
    width: 7em;
}

.model-results.change-list .field-get_method_info_html th {
    width: 11em;
}

.model-results.change-list #result_list .field-get_location_html th {
    width: 6em;
}
.model-results.change-list #result_list .column-get_location_html {
    width: 20em;
}

.model-results.change-list #result_list .column-get_flags_html {
    width: 15em;
}

/* Studies list page column widths */

.model-studies.change-list #result_list .field-get_publication_html th {
    width: 8.5em;
}

.model-studies.change-list #result_list .field-get_location_html th {
    width: 7em;
}

.model-studies.change-list #result_list .field-get_notes_html th {
    width: 7em;
}

/*.model-studies.change-list #result_list .column-get_method_html {
    min-width: 25%;
}*/

.model-studies.change-list #result_list .field-get_method_html th {
    width: 11em;
}

.inline-group .tabular td.original p {
    box-sizing: content-box;
}

.action-checkbox {
    position: relative;
    padding: 0;
}

.rowheader {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#changelist-filter ul {
    margin-bottom: 0;
}

/* Multiple select CSS */
#changelist-filter .multiple-select {
    display: inline-block;
}

.multiple-select {
    position: relative;
    width: 100%;
}

.multiple-select input[type="text"]{
    border-radius: 17px;
    border: 1px solid #ced4da;
    width: 100%;
    height: 38px;
    cursor: pointer;
    color: var(--body-fg);
    font-size: 1rem;
}

.multiple-select .ms-dropdown {
    position: absolute;
    top: 35px;
    min-height: 50px;
    max-width: 300px;
    z-index: 100;
    border: 1px solid var(--border-color);
    border-radius: 4px;    
    background-color: white;
}

.multiple-select.collapsed .ms-dropdown {
    display: none;
}

.multiple-select.collapsed input:hover {
    background-color: rgb(205, 236, 255);
}

.multiple-select .buttons {
    padding: 3px;
}

#changelist-filter .multiple-select ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: var(--body-fg);
}

#changelist-filter .multiple-select li:first-of-type {
    border: none;
}

#changelist-filter .multiple-select li {
    cursor: pointer;
    padding: 4px;
    margin: 0;
    border-top: 1px solid lightcyan;
    user-select: none;
    font-size: 90%;
}

#changelist-filter .multiple-select li:hover {
    background-color: rgb(227, 255, 255);
}

#changelist-filter .multiple-select ul li.selected-item {
    background-color: lightblue;
}

#changelist-filter .multiple-select ul li.selected-item:hover {
    background-color: rgb(207, 235, 244);
}


/* from django-admin-rangefilter */
.numericrangefilter .button, .numericrangefilter input[type=submit], .numericrangefilter input[type=button], .numericrangefilter .submit-row input, .numericrangefilter a.button,
.numericrangefilter .button, .numericrangefilter input[type=reset],
.multiple-select .buttons input[type=button] {
    background: var(--button-bg);
    padding: 4px 5px;
    border: none;
    border-radius: 4px;
    color: var(--button-fg);
    cursor: pointer;
    margin-right: 3px;
}
.numericrangefilter {
    padding-left: 15px;
    padding-bottom: 10px;
}
.numericrangefilter p {
    padding-left: 0px;
    display: inline;
}
.numericrangefilter p input {
    margin-bottom: 10px;
    width: 70px;
}

.numericrangefilter > h3 {
    padding: 0 !important;
}


.closelink, .deletelink {
    box-sizing: content-box;
}