{% extends "database/base.html" %}
{% load static %}

{% block title %} 
Home 
{% endblock %}

{% block style %}

@media only screen and (max-device-height: 900px) {
    .form_container {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }
}

{% endblock %}

{% block main %}
<div class="container form_container">
	<div class="home-left">
		<h1 id="home-title">Strep A Online Database</h1>
		<div class="home-text">
			<h5>Strep A causes superficial infections of the skin and throat, invasive diseases and autoimmune diseases (ARF and APSGN).</h5>
			<h5>This live data collection summarises data from peer-reviewed scientific publications of Strep A burden of disease studies conducted since 2000.</h5>
			<h5>Strep A burden of disease data is searchable by manuscript author, title, disease type, calendar year, population group, study setting/location and a number of other broad methodological, clinical and demographic variables.<h5>
		</div>
		{% if user.is_authenticated %}
		<div class="d-flex">
			<a class="me-2 mb-2" href="{% url 'admin:app_list' 'database' %}">
				<button type="button" class="btn btn-primary">
					View database
				</button>
			</a>
			{% for doc in documents %}
			{% if user.access_level >= doc.minimum_access_level %}
			<a class="document-link me-2 mb-2" href="{{ doc.upload_file.url }}" target="_blank">
				<button type="button" class="btn btn-warning">
					<span class="material-icons">help</span>&nbsp;
					{{ doc.title }}
					{% if doc.minimum_access_level >= user.ACCESS_ADMIN %}
					<span class="badge bg-primary">Admin</span>{% endif %}
				</button>
			</a>
			{% endif %}
			{% endfor %}
		</div>

		{% else %}
		<a class="m-auto" href="{% url 'login' %}">
			<button type="button" class="btn btn-primary">
				Log in to view database
			</button>
		</a>
		{% endif %}
	</div>
	<div class="home-right">
		<img src="{% static '/img/v_asavi.png' %}">
	</div>
</div>
{% endblock %}