<details open class="mt-2 submit-row text-start">
    <summary class="fs-5 ps-2 p-1">Methods/Results Excel Spreadsheet Format Specification</summary>
    <div class="px-4">
    <p>
        <h3>Please create an Excel spreadsheet containing exactly two sheets: "Methods" and "Results", each with the columns as specified below.</h3>
    </p>
    <div class="row g-5">
        <div class="col-6 p-1">
        <table>
            <thead>
                <tr>
                    <th colspan="4"><h3>Methods</h3></th>
                </tr>
                <tr>
                    <th>Field / Code Name</th>
                    <th>Display Name</th>
                    <th>Data Type</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Unique_identifier</th>
                    <td>N/A</td>
                    <td>Unique Study ID</td>
                    <td>All studies must have a unique identifier, which is used to link individual results to each study.</td>
                </tr>
                {% for f in studies_fields %}
                <tr>
                    <th>{{ f.djfield.name }}</th>
                    <td>{{ f.djfield.verbose_name }}</td>
                    <td>
                        {{ f.type }}
                        {% if f.djfield.choices %}
                        <br>
                        <b>Allowed values:</b>
                        <ul>
                            {% for code, text in f.djfield.choices %}
                            <li>{{ text }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </td>
                    <td>
                        <i>{{ f.djfield.help_text }}</i>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        <div class="col-6 p-1">
        <table>
            <thead>
                <tr>
                    <th colspan="4"><h3>Results</h3></th>
                </tr>
                <tr>
                    <th>Field / Code Name</th>
                    <th>Display Name</th>
                    <th>Data Type</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Study_ID</th>
                    <td>N/A</td>
                    <td>Link to Studies</td>
                    <td>Unique Identifier of the original study where the results were published. Must be an exact match of some existing study Unique_identifier.</td>
                </tr>
                {% for f in results_fields %}
                <tr>
                    <th>{{ f.djfield.name }}</th>
                    <td>{{ f.djfield.verbose_name }}</td>
                    <td>
                        {{ f.type }}
                        {% if f.djfield.choices %}
                        <br>
                        <b>Allowed values:</b>
                        <ul>
                            {% for code, text in f.djfield.choices %}
                            <li>{{ text }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </td>
                    <td>
                        <i>{{ f.djfield.help_text }}</i>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    </div>
</details>