{% extends 'admin/base_site.html' %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">
<style>
    p {
        text-align: left;
    }
</style>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}
{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; Import Data
</div>
{% endblock %}
{% endif %}

{% block content %}
<form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
    <div class="mx-3">

    <p>
        Import an Excel Spreadsheet directly into the database. 
        Please download a bulk data template from the <a href="{% url 'home' %}">home page</a>.
    </p>
    <p class="text-danger"><b>Warning:</b> Imported data will not replace existing data automatically. You may need to check for duplicate Studies and Results.</p>
    <p>Select any previously imported files to overwrite. Note that ALL data from the selected files will be deleted. Make sure you have a backup!</p>
    {{ form.as_p }}
    <input type="submit" value="Upload & Import" name="submit">
    
    </div>
</form>

{% include 'database/import_spec.html' %}

{% endblock %}