{% load static %}

<style>
	.hello-msg{
		font-size: 20px;
		color: #fff;
		margin-right: 20px;
	}
</style>

<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
	<a class="navbar-brand" href="{% url 'home' %}">
		<img src="{% static '/img/asavi_uwa_logo.png' %}" width="500">
	</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav me-3 align-items-center">
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'home' %}">
					Home
				</a>
			</li>
		{% if request.user.is_authenticated and request.user.is_active %}
			<li class="nav-item me-2">
				<a class="nav-link" href="{% url 'user_profile' %}">
					My Profile
				</a>
			</li>
			<li class="nav-item me-2">
				<a class="nav-link" href="{% url 'admin:database_studies_changelist' %}">
					Search Studies
				</a>
			</li>
			<li class="nav-item me-2">
				<a class="nav-link" href="{% url 'admin:database_results_changelist' %}">
					Search Results
				</a>
			</li>
		{% if request.user.access_level >= '20_contributor' %}
			<li class="nav-item me-2">
				<a class="nav-link" href="{% url 'admin:database_my_drafts_changelist' %}">
					Drafts <span class="badge bg-danger">Contributor</span>
				</a>
			</li>
			<li class="nav-item me-2">
				<a class="nav-link" href="{% url 'admin:database_importsource_changelist' %}">
					Bulk Import <span class="badge bg-danger">Contributor</span>
				</a>
			</li>
		{% endif %}
		{% if request.user.access_level >= request.user.ACCESS_ADMIN %}
			<li class="nav-item me-2">
				<a class="nav-link" href="{% url 'admin:database_datarequest_changelist' %}">
					Correction/Addition Requests <span class="badge bg-primary">Admin</span>
				</a>
			</li>
		{% else %}
			<li class="nav-item me-2">
				<a class="nav-link" href="{% url 'admin:database_datarequest_add' %}">
					Request Addition/Correction
				</a>
			</li>
		{% endif %}
		{% if request.user.access_level >= request.user.ACCESS_SUPER %}
			<li class="nav-item me-2">
				<a class="nav-link" href="{% url 'admin:database_document_changelist' %}">
					User Guides <span class="badge bg-primary">Admin</span>
				</a>
			</li>
			<li class="nav-item me-2">
				<a class="nav-link" href="{% url 'admin:database_users_changelist' %}">
					Users <span class="badge bg-primary">Admin</span>
				</a>
			</li>
		{% endif %}

		{% endif %}
		</ul>
		<ul class="navbar-nav ms-auto">
			{% if not request.user.is_authenticated %}
			<li class="nav-item mx-3">
				<a href="{% url 'signup' %}">
					<btn class="btn btn-primary">
						Sign up
					</btn>
				</a>
			</li>
			<li class="nav-item mx-3">
				<a href="{% url 'login' %}">
					<btn class="btn btn-primary">
						Login
					</btn>
				</a>
			</li>
			{% else %}
			<li class="nav-item mx-3">
				<a href="{% url 'logout' %}">
					<btn class="btn btn-primary">
						Log out
					</btn>
				</a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>